.main {
  background-color: rgb(151, 224, 224);
  height: 100vh;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  padding: 10px;
  background-color: black;
  color: bisque;
  margin: 10px;
  border: none;
  border-radius: 10px;
}